@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><br></p>
<p>If you make a request, we have one month to respond to you.<br/> If you would like to exercise any of these rights, please contact us.</p>
<p><br></p>
<p><strong>Desclaimer</strong></p>
<p><br></p>
<p>1)This website is for personal uses only </p>  
<p>2)Any issues or problems will take time to fix </p> 
<p>If you have any questions about this Privacy Policy, please contact us.</p>  